<div class="container-fluid">
	<div class="row">

		<div class="col-lg-12">	
			<%= image_tag("group-2.png", class: "img-fluid mx-auto d-block header-image") %>
		</div>
	</div>
	<div class="row row-black">
		<div class="col-lg-9 offset-3">
			<div class=text-content>
				<h1 class="white-heading">12.times do |UNOFORM|</h1>
				<h2 class="white-sub-heading">returns = “you now have unoform”</h2>
			<div>
		</div>
	</div> 
</div>