
	<div class="row">

		<div class="col-lg-12">	
			<%= image_tag("group-2.png", class: "img-fluid mx-auto d-block header-image") %>
		</div>
	</div>
	<div class="row row-black">
		<div class="col-lg-12 ">

		</div>
	</div> 
